table {
    border-collapse: collapse;
    width: 100%;
}

table, tr, td {
    border: 1px solid black;
    text-align: left;
}

th, td {
    padding: 1ex;
}

tr:nth-child(even){
    background-color: lightgray;
}

tr:hover{
    background-color: lightblue;
}